.content-container {
  background-color: lightgray;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.expectations {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  width: 600px;
  padding: 50px;
  border-radius: 10px;
}

.content-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75em;
  padding-bottom: 20px;
}

.content-sub-heading {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.35em;
  padding-bottom: 10px;
}

.content-text {
  padding-bottom: 10px;
}

.content-title-image {
  display: inline;
  width: 310px;
  height: 280px;
}