.display-content-container {
	height: 100%;
	background-color: #3A3335;
  font-family: 'Open Sans', sans-serif;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.review-tile {
	width: 300px;
  height: 340px;
  margin: 15px;
  border-radius: 10px;
  background-color: #C6D8D3;
  overflow: hidden;
}

.review-image {
  width: auto;
  height: 260px;
}

.review-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
}

.review-summary {
  font-size: 10px;
}

.review-text {
  padding: 5px;
}