.nav-li {
  list-style: none;
  font-size: 24px;
  padding: 10px;
  transition: all .3s;
}

.nav-li:hover {
  transition: all .3s;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #EB5E55;
}

.nav-title {
  color: white;
  text-align: left;
  font-size: 52px;
  padding-left: 10px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}